<h1> {{entry.timestamp | date:'MMM dd, yyyy'}} </h1>

<form role="form">
  <div class="form-group">
    <label for="grateful1">Grateful 1</label>
    <textarea class="form-control" id="grateful1" ng-model="entry.grateful1" placeholder="I'm grateful that..." ng-blur="save()"> </textarea>
  </div>

  <div class="form-group">
    <label for="grateful1">Grateful 2</label>
    <textarea class="form-control" id="grateful2" ng-model="entry.grateful2" placeholder="I'm grateful that..." ng-blur="save()"> </textarea>
  </div>

  <div class="form-group">
    <label for="grateful1">Grateful 3</label>
    <textarea class="form-control" id="grateful3" ng-model="entry.grateful3" placeholder="I'm grateful that..." ng-blur="save()"> </textarea>
  </div>

  <div class="form-group">
    <label for="journal">Journal</label>
    <textarea class="form-control" id="journal" ng-model="entry.journal" rows="15" ng-blur="save()"> </textarea>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="entry.isExercise" ng-change="save()"> Exercise
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="entry.isMeditate" ng-change="save()"> Meditate
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="entry.isRAK" ng-change="save()"> Random Act of Kindness
    </label>
  </div>

  <div class="form-group">
    <label for="journal">Mood Of Day</label>
      <input type="number" class="form-control" ng-model="entry.moodOfDay" ng-blur="save()">
  </div>
  <span ng-repeat="imageSrc in entry.images" style="block: inline-block"> 
    <img ng-src="{{imageSrc}}" width="270" height="480"> </img>
  </span>
</form>

