
<h1 style="font-weight: 100"> LifeTracker </h1>

<p > LifeTracker is a system that helps you stay happy. </p>

<p> Using findings from positive psychology, LifeTracker is a journal platform that reminds you to remember what you're grateful for each day. </p>

<h3> How does it work? </h3>
<div style="text-align: center"> 
<iframe src="http://embed.ted.com/talks/shawn_achor_the_happy_secret_to_better_work.html" width="854" height="480" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>

<a class="btn btn-lg btn-block btn-success" href="/auth/google"> Get Started! </a>