
<h1 class="page-header"> LifeTracker </h1>
<p class="lead"> LifeTracker is a system that helps you stay happy through journaling. </p>

<!-- <p> Using findings from positive psychology, LifeTracker is a journal platform that reminds you to remember what you're grateful for each day. </p> -->

<h3> How does it work? </h3>

<style>
  .stepBlock {
    text-align: center;
    display: inline-block;

    padding: 10px;
  }
  .stepIcon {
    font-size: 64px;
  }
  .stepTitle {
    font-size: 24px;
  }
  .stepDetail {
    font-size: 18px;
  }

  .steps {
    text-align: center;
  }
</style>

<div class="steps">

  <div class="stepBlock">
    <div class="stepTitle"> Create Account </div>
    <span class="stepIcon glyphicon glyphicon-plus"></span>
    <p class="stepDetail"> Sign in using your gmail account. LifeTracker only records your name and email address, all other information is kept confidential. Once you've signed in you are set. No need to remember extra usernames or passwords! </p>
  </div>

  <div class="stepBlock">
    <div class="stepTitle"> Write what you are grateful for</div>
    <span class="stepIcon glyphicon glyphicon-pencil"></span>
    <p class="stepDetail"> Positive psychology shows that simply writing about things that make you grateful can make you a happier person! So everyday we challenge you to write three things that you are grateful. We also ask you to record if you worked out, meditated, and did a random act of kindess. </p>
  </div>

  <div class="stepBlock">
    <div class="stepTitle"> Create reminders </div>
    <span class="stepIcon glyphicon glyphicon-pushpin"></span>
    <p class="stepDetail"> Creating a happier world for yourself isn't a sprint, it's a marathon, something that needs to be worked on everyday. That's why LifeTracker also encoroprates reminders, to help you accomplish your goals everyday. </p>
  </div>

  <div class="stepBlock">
    <div class="stepTitle"> Be Happy </div>
    <span class="stepIcon glyphicon glyphicon-heart-empty"></span>
    <p class="stepDetail"> The last and most important step. Enjoy your happiness! Life is short, go make the best of it. If this site helped, tell a friend! </p>
  </div>
</div>


<div style="text-align: center"> 
<iframe src="http://embed.ted.com/talks/shawn_achor_the_happy_secret_to_better_work.html" width="854" height="480" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>

<a class="btn btn-success" href="/auth/google"> Get Started! </a>